In [1]:
#import packages
import os
import pandas as pd

In [2]:
# Getting current working directory
direct = os.getcwd()

# Reading vehicle_collison file store in Assignment 3 folder in cuurentDirect using pandas read_csv & converting Date Object
# to DATETIME Format

df = pd.read_csv(direct+"/"+"Assignment 3"+"/"+"cricket_matches.csv" , usecols=[6,7,8,12,13,17,18])
df.head()

,home,away,winner,innings1,innings1_runs,innings2,innings2_runs
0,Durham,Nottinghamshire,Durham,Nottinghamshire,157.0,Durham,160.0
1,Hampshire,Sussex,Hampshire,Hampshire,153.0,Sussex,148.0
2,Somerset,Warwickshire,Warwickshire,Warwickshire,188.0,Somerset,169.0
3,Surrey,Middlesex,Surrey,Middlesex,155.0,Surrey,158.0
4,Worcestershire,Northamptonshire,Worcestershire,Northamptonshire,150.0,Worcestershire,151.0

In [8]:
sortdf = df.sort_values(['home'], ascending=True)
sortInn1 = sortdf[(sortdf['home'] == sortdf['winner']) & (sortdf['winner'] == sortdf['innings1'])]
sortInn2 = sortdf[(sortdf['home'] == sortdf['winner']) & (sortdf['winner'] == sortdf['innings2'])]
df1 = pd.DataFrame({'home': sortInn1['home'], 'Runs': sortInn1['innings1_runs']})
df2 = pd.DataFrame({'home': sortInn2['home'], 'Runs': sortInn2['innings2_runs']})

In [9]:
runs = df1.append(df2, ignore_index=True)

In [10]:
runsGroup = runs['Runs'].groupby(runs['home']).sum()
homeGroup = runs['Runs'].groupby(runs['home']).count()

In [11]:
columns = ['Home', 'Score']
finalScore = pd.DataFrame({'Home' : homeGroup.index, 'Score' : runsGroup / homeGroup})

finalScore[columns].head(5)

                                  Home       Score
home
Abahani Limited        Abahani Limited  172.000000
Abbottabad Falcons  Abbottabad Falcons  139.454545
Abbottabad Region    Abbottabad Region  182.666667
Abbottabad Rhinos    Abbottabad Rhinos  165.000000
Adelaide Strikers    Adelaide Strikers  163.111111

In [12]:
#function to check is directory exists
def funCheckDir(path):
    directory = os.path.dirname(path) # defining directory path
    if not os.path.exists(directory): # checking if directory already exists
        os.makedirs(directory) # making a directory
        
resultsPath = currentDirect+'\Assignment 3(Results)\Q3_Part_1.csv'
funCheckDir(resultsPath)

# Saving our dataFrame to csv file.
finalScore[columns].to_csv(resultsPath, index=False, encoding='utf-8')