In [1]:
#Import Packges
import os
import pandas as pd

In [2]:
# get current working directory
direct = os.getcwd()

# read csv file from location
df = pd.read_csv(direct+"/"+"Assignment 3/employee_compensation.csv")
df.head()

,Year Type,Year,Organization Group Code,Organization Group,Department Code,Department,Union Code,Union,Job Family Code,Job Family,...,Employee Identifier,Salaries,Overtime,Other Salaries,Total Salary,Retirement,Health/Dental,Other Benefits,Total Benefits,Total Compensation
0,Calendar,2013,2,"Public Works, Transportation & Commerce",AIR,Airport Commission,38.0,"Plumbers and Pipefitters, Local 38",7300,Journeyman Trade,...,52206,98528.52,0.00,3955.59,102484.11,20142.55,12918.24,8371.76,41432.55,143916.66
1,Fiscal,2015,4,Community Health,DPH,Public Health,790.0,"SEIU - Miscellaneous, Local 1021",2600,Dietary & Food,...,52950,69169.82,755.02,4179.08,74103.92,15641.92,12499.30,5669.02,33810.24,107914.16
2,Calendar,2016,3,Human Welfare & Neighborhood Development,WOM,Department of the Status of Women,323.0,Members of Boards and Commissions,0900,Management,...,33958,200.00,0.00,0.00,200.00,0.00,51.45,15.83,67.28,267.28
3,Calendar,2016,6,General Administration & Finance,HRD,Human Resources,790.0,"SEIU - Miscellaneous, Local 1021",8100,Legal & Court,...,33073,1783.00,0.00,0.00,1783.00,325.05,257.23,153.85,736.13,2519.13
4,Fiscal,2015,5,Culture & Recreation,REC,Recreation and Park Commission,790.0,"SEIU - Miscellaneous, Local 1021",9900,Public Service Aide,...,15849,1102.50,0.00,0.00,1102.50,0.00,538.82,85.36,624.18,1726.68

In [3]:
comp=df[(df['Year Type']=='Calendar')]
comp=pd.DataFrame(comp.groupby(['Employee Identifier','Job Family']).mean())

comp.drop(['Year', 'Organization Group Code','Union Code'], axis=1, inplace=True)
comp.head()

,,Salaries,Overtime,Other Salaries,Total Salary,Retirement,Health/Dental,Other Benefits,Total Benefits,Total Compensation
Employee Identifier,Job Family,,,,,,,,,
1,"Payroll, Billing & Accounting",40334.303333,0.00,29.673333,40363.976667,8415.146667,8626.160,3172.630,20213.936667,60577.913333
2,Protection & Apprehension,11061.700000,0.00,0.000000,11061.700000,2058.580000,1768.100,853.530,4680.210000,15741.910000
3,"Clerical, Secretarial & Steno",13722.000000,964.83,0.000000,14686.830000,2498.760000,2870.730,1181.230,6550.720000,21237.550000
4,"Lab, Pharmacy & Med Techs",18574.880000,0.00,210.000000,18784.880000,1463.340000,4829.960,1448.095,7741.395000,26526.275000
5,Recreation,19525.227500,0.00,5.177500,19530.405000,0.000000,1341.605,1543.940,2885.545000,22415.950000

In [5]:
overtime=comp[(comp['Overtime']>(.05*comp['Salaries']))]
overtime.head()

,,Salaries,Overtime,Other Salaries,Total Salary,Retirement,Health/Dental,Other Benefits,Total Benefits,Total Compensation
Employee Identifier,Job Family,,,,,,,,,
3,"Clerical, Secretarial & Steno",13722.0000,964.8300,0.0000,14686.8300,2498.7600,2870.7300,1181.2300,6550.7200,21237.5500
6,Fire Services,133842.7700,33892.2000,19926.6450,187661.6150,29394.5325,15933.0600,3103.6650,48431.2575,236092.8725
8,Street Transit,52510.0800,4106.9325,1248.6300,57865.6425,13885.2775,10584.3025,4354.0175,28823.5975,86689.2400
18,Street Transit,70408.0950,27338.1125,2081.7575,99827.9650,19194.0400,14304.2000,7545.3750,41043.6150,140871.5800
20,Street Transit,56586.1325,5763.4150,882.4150,63231.9625,13241.0575,12437.5775,4823.9875,30502.6225,93734.5850

In [6]:
top_family=overtime
top_family=top_family.groupby([top_family.index.get_level_values(1)]).mean()

In [7]:
top_family=top_family[['Total Benefits','Total Compensation']]
top_family['Percent_Total_Benefit']=100*(top_family['Total Benefits']/top_family['Total Compensation'])
top_family=top_family.sort_values(['Percent_Total_Benefit'], ascending=[False])
top_family.to_csv('Q2_Part_2_Output.csv')
top_family.head(5)

,Total Benefits,Total Compensation,Percent_Total_Benefit
Job Family,,,
Public Service Aide,12081.252503,34013.789743,35.518690
Park & Zoo,22168.769722,65363.664630,33.916045
Energy & Environment,14254.410000,43219.500000,32.981432
Revenue,15629.204089,47641.781767,32.805667
Museum & Cultural Affairs,27037.390000,83926.070000,32.215723